# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Dados (opcional - decidam se commitam CSVs)
# dados/*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db